<!--
<app-header></app-header>

<main class="main-content">
  <router-outlet></router-outlet>
</main>

<app-footer></app-footer>
Cette partie est censé fonctionné mais il n'arrive pas à trouver les modules Header et Footer, je les met donc en brute ici.
-->

<header class="header">
  <h1>
    <a routerLink="/">
      <span>{{ title }}</span>
    </a>
  </h1>
  <nav>
    <ul>
      <li><a routerLink="/">Accueil</a></li>
      <li><a routerLink="/books">Ma Bibliothèque</a></li>
    </ul>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer class="footer">
  <p>© 2025 BiblioTech - Tous droits réservés</p>
</footer>
